<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Simpeda.aplikasi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SIMPEDA">
        <activity android:name=".SelesaiActivity"></activity>
        <activity android:name=".DetailKesehatanActivity" />
        <activity android:name=".Suket_Akte_KTP_Activity" />
        <activity android:name=".LayananPublikActivity" />
        <activity android:name=".InformasiKesehatanActivity" />
        <activity android:name=".DetailInformasiActivity" />
        <activity android:name=".DetailWisataActivity" />
        <activity android:name=".PostinganWarga" />
        <activity android:name=".WadahAspirasiActivity" />
        <activity android:name=".LaporanActivity" />
        <activity android:name=".WisataActivity" />
        <activity android:name=".DaftarActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".InformasiActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>